admin/.DS_Store
.env
.htaccess
admin/.htaccess
admin/.editorconfig
admin/.ftp-deploy-sync-state.json
admin/composer.json
admin/application/config/service-account.json

admin/application/cache/*
!application/cache/index.html


admin/application/config/database.php
admin/application/logs/*
!application/logs/index.html

!application/*/.htaccess

admin/composer.lock
tests/mocks/database/ci_test.sqlite

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

admin/docs/
admin/html/
admin/system/
admin/vendor/
admin/backup/
admin/assets/admin/plugins
admin/assets/frontend/images
admin/assets/frontend/fontawesome-free-6.5.2-web
admin/assets/uploads/*
admin/uploads/*
*.zip

admin/temp
admin/backend
admin/application/tmp
admin/application/libraries
admin/application/logs/*
admin/application/third_party
admin/application/config/config.php
admin/application/config/database.php
admin/creds.txt